body {
  background-color: rgb(240, 240, 234);
}
header {
  margin-top: 0px;
  padding: 0;
  margin-right: -9px;
  margin-left: -9px;
  background-color: white;
  height: 52px;
  position: fixed;
  position: fixed;
  top: 0;
  width: 100%;
}
nav {
  position: 0;
  position: fixed;
}
#linkedin_logo {
  height: 45px;
  margin-left: 190px;
}
.nav_img > img {
  height: 20px;
  margin-right: 55px;
}
#profile_img {
  width: 25px;
  height: 23px;
  border-radius: 50%;
}
.nav_img {
  margin-top: 2px;
  padding: 0;
  margin-left: 200px;
  display: inline-block;
}
#job_img {
  margin-right: 50px;
}
.nav_div {
  display: flex;
  padding-top: 2px;
}
#mssg_img {
  margin-right: 56px;
}
#home {
  margin-left: -35rem;
  padding-top: 1.8rem;
  text-decoration: none;
  /* color: rgb(75, 71, 71); */
}
#network {
  margin-left: 1.8rem;
  padding-top: 1.8rem;
  text-decoration: none;
  /* color: rgb(75, 71, 71); */
}
#jobs {
  margin-left: 1.8rem;
  padding-top: 1.8rem;
  text-decoration: none;
  /* color: rgb(75, 71, 71); */
}
#messaging {
  margin-left: 1.75rem;
  padding-top: 1.8rem;
  text-decoration: none;
  /* color: rgb(75, 71, 71); */
}
#notifications {
  margin-left: 1rem;
  padding-top: 1.8rem;
  text-decoration: none;
  /* color: rgb(75, 71, 71); */
}
#me {
  margin-left: 1.9rem;
  padding-top: 1.8rem;
  text-decoration: none;
  /* color: rgb(75, 71, 71); */
}
.vl {
  border-left: 2px solid #bbbebb;
  height: 51px;
  margin-left: 2rem;
}
#work {
  margin-left: 1.45rem;
  padding-top: 1.8rem;
  text-decoration: none;
  /* color: rgb(75, 71, 71); */
}
#promotion {
  text-decoration: none;
  color: rgb(165, 136, 42);
  margin-top: 6px;
  margin-left: 33px;
  font-weight: 400;
}
a:hover {
  color: black;
  cursor: pointer;
}
#promotion:hover {
  text-decoration: underline;
  cursor: pointer;
}
a {
  font-family: var(--artdeco-reset-typography-font-family-sans);
  font-size: 0.9rem;
  color: rgb(117, 110, 110);
}
.mainbody {
  display: flex;
  margin-top: 1.5rem;
  margin-left: 12vw;
}
.MyPostsContainer {
  background-color: white;
  width: 33.75rem;
  height: 7.25rem;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.75vw;
  border-radius: 7px;
  margin-top: 1.7rem;
}
.profile_box_left {
  height: 22.75rem;
  width: 14rem;
  background-color: white;
  margin-top: 1.67rem;
  border-radius: 6px;
}
.discover_more {
  height: 22.75rem;
  width: 14rem;
  background-color: white;
  margin-top: 25rem;
  margin-left: -14rem;
  border-radius: 6px;
  display: flex;
}
.hl {
  border-top: 2px solid #bbbebb;
  width: 28rem;
  margin-left: -33.7rem;
  display: inline-block;
  margin-top: 10rem;
}
.sortby {
  font-family: inherit;
  color: #8f928f;
  margin-left: 0.5rem;
  margin-top: 9.3rem;
  display: block;
}
.post1 {
  background-color: white;
  width: 33.75rem;
  height: 42.25rem;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  margin-left: -33.3rem;
  border-radius: 7px;
  margin-top: 10.8rem;
}
.linkedin_News {
  background-color: white;
  width: 19.675rem;
  height: 20.125rem;
  border-radius: 6px;
  margin-left: 2rem;
  margin-top: 1.7rem;
}
.linkedin_add {
  background-color: white;
  width: 19.675rem;
  height: 17.125rem;
  border-radius: 6px;
  margin-left: -19.6rem;
  margin-top: 22.7rem;
  display: flex;
}
#promotion_img {
  border-radius: 6px;
}
.footer {
  margin-left: 66vw;
  margin-top: -12rem;
  /* display: inline-block; */
}
#footer_logo {
  height: 2.5vh;
  padding-top: 3rem;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-style: inherit;
}
a {
  text-decoration: none;
}
.footer_list1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: -1rem;
  width: 250px;
}
.footer_list2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1rem;
  width: 250px;
}
.footer_list3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1rem;
  width: 250px;
}
.footer_list4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1rem;
  width: 250px;
}
.end_footer {
  margin-left: 1rem;
}
div>ul>a>li{
  margin-right: 8px;
}
#success{
  width: 14rem;
  height: 6rem;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
}
#dp{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid white !important;
  margin-left: 4.2rem;
  margin-top: -46px;
  margin-bottom: 22px;
  text-align: center;
}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -36px;
  margin-left: -0.8rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.skills{
  font-size:12px;
  color:#8f928f;
  text-align: center;
  font-family:  sans-serif;
  margin-top: -10px;
}
.hl_left_profile{
  border-top: 0.1px solid #e1e4e1;
  width: 14rem;
  margin-left: 0rem;
  display: inline-block;
  margin: 0;
}
h4:hover{
  text-decoration: underline;
  cursor: pointer;
}
.medium{
  margin-left: 5px;
  padding: 4px;
  margin-bottom: 5px;
  font-size: 11.5px;
  font-family: sans-serif;
  font-weight: 1;
}
.medium>p{
  color: #757775;
  margin-left: 4px;
}
.hl_left_profile2{
  border-top: 0.1px solid #e1e4e1;
  width: 14rem;
  margin-left: 0rem;
  display: inline-block;
  margin-bottom: 17px;
}
.medium2>p{
  color: #757775;
  margin-left: 5px;
  padding: 4px;
  margin-bottom: 5px;
  font-size: 11.5px;
  font-family: sans-serif;
  font-weight: 1;
}
.medium2{
  margin-top:-39px;
  /* display: flex; */
  align-items: center;
  padding-bottom: 1px;
  /* padding-top: 0.1px; */
  height: 78.6px;
}
.medium2:hover{
  background-color:#cccecc;
  cursor: pointer;
}
#p_medium:hover{
   background-color:#cccecc;
   cursor: pointer;
}
#p_medium2:hover{
  background-color:#cccecc;
  cursor: pointer;
}
#gift{
  width: 1rem;
  margin-left: 1.3rem;
}
#gift:hover{
  width: 1.2rem;
}
#tools
{
  margin-left: 10px;
  margin-top: 17.5px;
}
#hired{
  margin-left: 40px;
  margin-top: -21.5px;
  font-style: revert;
  color: black;
  font-size: 13px;
}
#free{
  margin-left: 40px;
  margin-top: -9.5px;
  font-style: revert;
  color: black;
  font-size: 13px;
}
#hired1:hover{
  text-decoration: underline;
}